*

!README.md

!.config
!.config/nvim
!.config/nvim/init.vim
!.config/nixpkgs
!.config/nixpkgs/home.nix
!.config/nix
!.config/nix/nix.conf

!.docker
!.docker/config.json

!.gitignore

!.install.sh
!.install_python_packages.sh
!.install_packages.sh
!.install_apt_sources.sh

!.bashrc
!.bash_aliases

!.neovim.nix
